// Setting up the Magic Grid
$total-columns: 4; // 12 columns
$column-width: 4em; // columns are 4em wide
$gutter-width: 1em; // with 1em gutters
$grid-padding: 1em; // and 1em padding on the grid container

$tablet: 8;
$full: 12;

$red: #8F110D;
$darkgray: #414042;
$gray: #737577;

@import "susy";
@import "compass/reset";
@import "compass/css3";

.container {
    @include container(4, $tablet, $full);
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body{
    background:#efefef;
    color: #444;
    font-family: 'Source Sans Pro', sans-serif;
}

.banner{
    font-family: 'Armata', sans-serif;
    text-align: center;
    margin: 10px;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: .05em;
    line-height: 1.5em;
    @include text-shadow(0px -1px 1px #222);
    @include at-breakpoint($full) {
        font-size: 2.5em;
    }
}

header {
    @include box-shadow(inset 0 -18px 15px -15px rgba(0, 0, 0, 0.2));
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    background: #555;
    h1{
        font-family: 'Armata', sans-serif;
        font-size: 1.5em;
        @include at-breakpoint($full) {
            font-size: 2em;
        }
        a.site-link{
            color: #222;
            font-weight: bold;
            @include text-shadow(0px 2px 2px #666);
        }
        a{
            text-decoration: none;
        }
        .red5logo{
            font-size: .75em;
            float: right;
            .darkgray{
                color: lighten($darkgray, 20%);
            }
            .red{
                color: lighten($red, 10%);
            }
            .gray{
                color: lighten($gray, 10%);
            }
        }
    }
}

section.intro{
    @include span-columns(1 omega, 1);
    margin-top:25px;
    border-bottom: 1px solid #ccc;
    .description{
        @include span-columns(1 omega, 1);
        line-height:35px;
        font-size: 1.5em;
        @include at-breakpoint($tablet){
            @include span-columns(5, 8);
            line-height:40px;
            font-size: 2em;
        }
        @include at-breakpoint($full) {
            @include span-columns(7, 12);
            line-height:45px;
            font-size: 2.5em;
        }

        .buy-link{
            @include span-columns(4 omega, 4);
            @include at-breakpoint($tablet){
                @include prefix(1, 8);
                @include suffix(1, 8);
                @include span-columns(6 omega, 8);
            }
            @include at-breakpoint($full){
                @include prefix(2, 12);
                @include suffix(2, 12);
                @include span-columns(8 omega, 12);
            }
            margin-top: 20px;
            text-align:center;
            font-size:.7em;
            img{
                width: 100%;
            }
        }
    }
    .preview-img{
        @include span-columns(7 omega, 7);
        @include at-breakpoint($tablet){
            @include span-columns(3 omega, 8);
        }
        @include at-breakpoint($full) {
            @include span-columns(5 omega, 12);
        }
    }
}

section.features{
    @include span-columns(1 omega, 1);
    padding:30px 0;
    font-size: 1.5em;
    border-bottom: 1px solid #ccc;
    li{
        margin-bottom:20px;
    }
    .feature-img{
        @include span-columns(4 omega, 4);
        @include at-breakpoint($tablet){
            @include span-columns(3, 8);
        }
        @include at-breakpoint($full) {
            @include span-columns(5, 12);
        }
    }
    .feature-list{
        @include span-columns(4 omega, 4);
        @include at-breakpoint($tablet){
            @include span-columns(5 omega, 8);
        }
        @include at-breakpoint($full) {
            @include span-columns(7 omega, 12);
        }
    }
}

section.course-hero{
    @include span-columns(12 omega, 12);
    padding:30px 0;
    font-size: 1.5em;
    border-bottom: 1px solid #ccc;
    li{
        margin-bottom:20px;
    }
    .feature-list{
        @include span-columns(4 omega, 4);
        @include at-breakpoint($tablet){
            @include span-columns(5, 8);
        }
        @include at-breakpoint($full) {
            @include span-columns(8, 12);
        }
        margin-top:20px;
    }
    .course-hero-logo{
        @include span-columns(7 omega, 7);
        @include at-breakpoint($tablet){
            @include span-columns(3 omega, 8);
        }
        @include at-breakpoint($full) {
            @include span-columns(4 omega, 12);
        }
        img{
            width: 100%;
        }
    }
}

section.support{
    @include span-columns(12 omega, 12);
    margin-top:20px;
    text-align:center;
}

footer{
    @include span-columns(12 omega, 12);
    text-align: center;
    margin: 20px;
    color: #aaa;

    div.logo{
        margin-top: 10px;
        font-size: 2em;
        a.red{
            text-decoration: none;
            color: $red;
        }
    }
}