// Setting up the Magic Grid
$total-columns: 12; // 12 columns
$column-width: 4em; // columns are 4em wide
$gutter-width: 1em; // with 1em gutters
$grid-padding: 1em; // and 1em padding on the grid container

$phone: 7 36em;

@import "susy";
@import "compass/reset";
@import "compass/css3";

.container {
    @include container;
    @include at-breakpoint($phone) {
      @include container;
    }
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body{
    background:#efefef;
    color: #444;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    @include box-shadow(inset 0 -18px 15px -15px rgba(0, 0, 0, 0.2));
    width: 100%;
    height: 30px;
    border: 1px solid black;
    padding: 10px;
    background: #444;
    color: white;
    h1{
        font-family: 'Armata', sans-serif;
        font-size: 2em;
        a{
            color: #eee;
            text-decoration: none;
        }
    }
}

section.intro{
    @include span-columns(12 omega, 12);
    margin-top:25px;
    .description{
        @include span-columns(7, 12);
        @include at-breakpoint($phone) {
            @include span-columns(7 omega, 7);
        }
        line-height:45px;
        font-size: 2.5em;

        .buy-link{
            @include prefix(1, 7);
            @include suffix(1, 7);
            @include span-columns(5 omega, 7);
            margin-top: 20px;
            text-align:center;
            font-size:.7em;
            img{
                width: 100%;
            }
        }
    }
    .preview-img{
        @include span-columns(5 omega, 12);
        @include at-breakpoint($phone) {
            @include span-columns(7 omega, 7);
        }
    }
}

section.features{
    @include span-columns(12 omega, 12);
    margin-top:30px;
    font-size: 1.5em;
    li{
        margin-bottom:20px;
    }
    .feature-img{
        @include span-columns(6, 12);
        @include at-breakpoint($phone) {
            @include span-columns(7 omega, 7);
        }
    }
    .feature-list{
        @include span-columns(6 omega, 12);
        @include at-breakpoint($phone) {
            @include span-columns(7 omega, 7);
        }
    }
    .feature-list-cont{
        @include span-columns(6, 12);
        @include at-breakpoint($phone) {
            @include span-columns(7 omega, 7);
        }
        margin-top:20px;
    }
    .study-img{
        @include span-columns(6 omega, 12);
        @include at-breakpoint($phone) {
            @include span-columns(7 omega, 7);
        }
    }
}

footer{
    @include span-columns(12 omega, 12);
    margin: 20px;
    text-align: center;
    color: #aaa;
}