html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

.container { *zoom: 1; max-width: 34em; _width: 34em; padding-left: 1em; padding-right: 1em; margin-left: auto; margin-right: auto; }
.container:after { content: ""; display: table; clear: both; }
@media (min-width: 59em) { .container { max-width: 59em; padding-left: 1em; padding-right: 1em; margin-left: auto; margin-right: auto; }
  .container:after { content: ""; display: table; clear: both; } }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { background: #efefef; color: #444; font-family: 'Source Sans Pro', sans-serif; }

.banner { font-family: 'Armata', sans-serif; text-align: center; margin: 10px; font-size: 2em; font-weight: bold; letter-spacing: .05em; line-height: 1.5em; text-shadow: 0px -1px 1px #222222; }
@media (min-width: 59em) { .banner { font-size: 2.5em; } }

header { -webkit-box-shadow: inset 0 -18px 15px -15px rgba(0, 0, 0, 0.2); -moz-box-shadow: inset 0 -18px 15px -15px rgba(0, 0, 0, 0.2); box-shadow: inset 0 -18px 15px -15px rgba(0, 0, 0, 0.2); width: 100%; border: 1px solid black; padding: 10px; background: #555; }
header h1 { font-family: 'Armata', sans-serif; font-size: 1.5em; }
@media (min-width: 59em) { header h1 { font-size: 2em; } }
header h1 a.site-link { color: #222; font-weight: bold; text-shadow: 0px 2px 2px #666666; }
header h1 a { text-decoration: none; }
header h1 .red5logo { font-size: .75em; float: right; }
header h1 .red5logo .darkgray { color: #747276; }
header h1 .red5logo .red { color: #be1711; }
header h1 .red5logo .gray { color: #8d8f90; }

section.intro { width: 100%; float: right; margin-right: 0; #margin-left: -1em; display: inline; margin-top: 25px; border-bottom: 1px solid #ccc; }
section.intro .description { width: 100%; float: right; margin-right: 0; #margin-left: -1em; display: inline; line-height: 35px; font-size: 1.5em; }
@media (min-width: 59em) { section.intro .description { width: 57.62712%; float: left; margin-right: 1.69492%; line-height: 45px; font-size: 2.5em; } }
section.intro .description .buy-link { padding-left: 14.70588%; padding-right: 14.70588%; width: 70.58824%; float: right; margin-right: 0; #margin-left: -1em; display: inline; margin-top: 20px; text-align: center; font-size: .7em; }
section.intro .description .buy-link img { width: 100%; }
section.intro .preview-img { width: 100%; float: right; margin-right: 0; #margin-left: -1em; display: inline; }
@media (min-width: 59em) { section.intro .preview-img { width: 40.67797%; float: right; margin-right: 0; } }

section.features { width: 100%; float: right; margin-right: 0; #margin-left: -1em; display: inline; padding: 30px 0; font-size: 1.5em; border-bottom: 1px solid #ccc; }
section.features li { margin-bottom: 20px; }
section.features .feature-img { width: 100%; float: right; margin-right: 0; #margin-left: -1em; display: inline; }
@media (min-width: 59em) { section.features .feature-img { width: 49.15254%; float: left; margin-right: 1.69492%; } }
section.features .feature-list { width: 100%; float: right; margin-right: 0; #margin-left: -1em; display: inline; }
@media (min-width: 59em) { section.features .feature-list { width: 49.15254%; float: right; margin-right: 0; } }
section.features .feature-list-cont { width: 100%; float: right; margin-right: 0; #margin-left: -1em; display: inline; margin-top: 20px; }
@media (min-width: 59em) { section.features .feature-list-cont { width: 49.15254%; float: left; margin-right: 1.69492%; } }
section.features .study-img { width: 100%; float: right; margin-right: 0; #margin-left: -1em; display: inline; }
@media (min-width: 59em) { section.features .study-img { width: 49.15254%; float: right; margin-right: 0; } }

section.support { width: 100%; float: right; margin-right: 0; #margin-left: -1em; display: inline; margin-top: 20px; text-align: center; }

footer { width: 100%; float: right; margin-right: 0; #margin-left: -1em; display: inline; margin: 20px; text-align: center; color: #aaa; }
footer div.logo { margin-top: 10px; font-size: 2em; }
footer div.logo a.red { text-decoration: none; color: #8f110d; }
